<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="buildOrder">
      <h2 data-cy="buildOrderDetailsHeading"><span jhiTranslate="constructionmanagementApp.buildOrder.detail.title">Build Order</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ buildOrder.id }}</span>
        </dd>
        <dt><span jhiTranslate="constructionmanagementApp.buildOrder.state">State</span></dt>
        <dd>
          <span jhiTranslate="{{ 'constructionmanagementApp.BuildOrderState.' + buildOrder.state }}">{{ buildOrder.state }}</span>
        </dd>
        <dt><span jhiTranslate="constructionmanagementApp.buildOrder.start">Start</span></dt>
        <dd>
          <span>{{ buildOrder.start | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="constructionmanagementApp.buildOrder.finish">Finish</span></dt>
        <dd>
          <span>{{ buildOrder.finish | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="constructionmanagementApp.buildOrder.requisition">Requisition</span></dt>
        <dd>
          <div *ngIf="buildOrder.requisition">
            <a [routerLink]="['/requisition', buildOrder.requisition?.id, 'view']">{{ buildOrder.requisition?.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/build-order', buildOrder.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
