<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="material">
      <h2 data-cy="materialDetailsHeading"><span jhiTranslate="constructionmanagementApp.material.detail.title">Material</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ material.id }}</span>
        </dd>
        <dt><span jhiTranslate="constructionmanagementApp.material.name">Name</span></dt>
        <dd>
          <span>{{ material.name }}</span>
        </dd>
        <dt><span jhiTranslate="constructionmanagementApp.material.acronym">Acronym</span></dt>
        <dd>
          <span>{{ material.acronym }}</span>
        </dd>
        <dt><span jhiTranslate="constructionmanagementApp.material.amountAvailable">Amount Available</span></dt>
        <dd>
          <span>{{ material.amountAvailable }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/material', material.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
